header {
    background-color: #7776a1;
    color: white;
    padding: 10px;
    text-align: left;
    font-family: Arial, sans-serif;
    box-sizing: border-box;

    display: flex;
    align-items: center;
}

#sidebar {
    background-color: #7776a1;
    color: white;
    padding: 15px;
    width: 20%;
    float: left;
    box-sizing: border-box;
    height: 800px;
}



#Flag {
    background-color: black;
    color: white;
    width: 100%
}

#Player1 {
    background-color: black;
    color: white;
    width: 100%
}

#Player2 {
    background-color: black;
    color: white;
    width: 100%
}

#Player3 {
    background-color: black;
    color: white;
    width: 100%
}

#Player4 {
    background-color: black;
    color: white;
    width: 100%
}

#Paint_Button {
    background-color: pink;
    color: red;
    width: 100%
}

#map {
    height: 580px
}

img {
    height: 50%;
}